################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DL/appsettings.json
.vs/
bin/
/PL/App.config
/Infrastructure/appsettings.json
/DLTests/DLTests.csproj
/BLTests/BLTests.csproj
/InfrastructureTests/InfrastructureTests.csproj
/PLTests/PLTests.csproj
